<%- include('../partials/header.ejs') %>

<%- include('../partials/menu.ejs') %>
    
<div class="col">
  <div class="ms-3 d-flex justify-content-start align-items-center">
    <h2>Images</h2>
    <a href="/dashboard/images/upload-img" class="link-primary">
      <i class="bi bi-upload mx-2"></i>
      Upload image
    </a>
  </div>

  <div class="row g-0">
    <% images.forEach(img => { %>
      <article class="col-sm-6 col-md-6 col-lg-3 col-xl-3 card">
        <img class="img" src="<%= img.path %>" alt="<%= img.name %> image">
        <div class="card-body">
          <h3><%= img.name %></h3>
          <a href="/delete-img/<%= img.imgID%>" class="btn btn-danger">Delete</a>
        </div>
        
      </article>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>