<%- include('../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <%- include('../partials/menu.ejs') %>
      <% if(locals.note) {%>
        <div class="col">
          <h2>Edit "<%= locals.note.title %>"</h2>
          <date class="mb-4"><%= locals.note.date %></date>
          <form action="/edit-note/<%= locals.note.noteID %>" method="POST">
              <label for="title" class="form-label">Title</label>
              <input type="text" value="<%= locals.note.title %>" name="title" id="title" class="form-control">

              <label for="text" class="form-label">Text</label>
              <textarea name="text" id="text" cols="30" rows="10" class="form-control">
                <%= locals.note.text %>
              </textarea>
              <button type="submit" class="btn btn-primary mt-2">Update</button>
              <a href="/delete-note/<%= locals.note.noteID %>" class="btn btn-danger ms-5">
                <i class="bi bi-trash"></i>
              </a>
              <% if(locals.emptyFields) { %>
                <p class="text-danger">The note needs a title and some text</p>
              <% } %>
          </form>
        </div>

      <% } else {%>

        <div class="col ">
          <h2>Add note</h2>
          <form action="/add-note" method="POST">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" id="title" class="form-control">
            <label for="text" class="form-label">Text</label>
            <textarea name="text" id="text" cols="30" rows="10" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Add</button>
            <% if(locals.emptyFields) { %>
              <p class="text-danger">The note needs a title and some text</p>
            <% } %>
          </form>
        </div>

      <% } %> 
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %> 